li {
  padding: 5px;
  margin: 5px;
  background: #d88a23;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(5, 138, 138);
}

.form-group {
  margin-bottom: 5px;
}
